<h2>GuideSpark React UI Component Engine</h2>

<hr>

<h3>Overview</h3>
<blockquote>
  <p>This is a rails engine to help you easily build bootstrap style UI
    components with
    <%= link_to 'React', 'https://facebook.github.io/react/', target: '_blank' %>.</p>
</blockquote>

<br>

<h3>Requirement</h3>
<blockquote>
  <ul>
    <li>rails 4.2.0+</li>
    <li>react-rails 1.6.0+</li>
    <li>react 0.14.0+</li>
    <li>react-dom 0.14.0+</li>
    <li>bootstrap 3.3.0+</li>
    <li>jQuery 1.7.0+ (required if need bootstrap jQuery plugins)</li>
    <li>font-awesome 4.5.0+</li>
  </ul>
</blockquote>
